[submodule "anchor"]
	path = anchor
	url = https://github.com/jito-foundation/anchor.git
[submodule "jito-programs"]
	path = jito-programs
	url = https://github.com/jito-foundation/jito-programs.git
[submodule "jito-protos/protos"]
	path = jito-protos/protos
	url = https://github.com/jito-labs/mev-protos.git
[submodule "sdk"]
	path = sdk
	url = https://github.com/allnodes/solana-sdk.git
	branch = allnodes/v3.0.0
[submodule "allnodes/protos"]
	path = allnodes/protos
	url = https://github.com/allnodes/solana-allnodes-protos.git
